/*
grey: #dddfd4
beige: #fae596
Light blue: #3fb0ac
Dark Blue: #173e43
*/
@import url('https://fonts.googleapis.com/css?family=Arvo|Bitter|EB+Garamond|Poppins|Rubik|Source+Serif+Pro|Work+Sans|Fredericka+the+Great|Handlee|Merienda|Righteous|Handlee|Shadows+Into+Light|Aladin|Allerta+Stencil|Berkshire+Swash|Condiment|Merienda+One|Mrs+Sheppards|Oregano|Rancho');


.container-fill {
    background-image: linear-gradient(to right, black, #9A2617, #008B8B, black);
}

/*...............NAVIGATION...............*/
.navbar {
  font-family: 'Handlee', cursive;
  background-color: #212121;
  font-size: 25px;
}

.navbar li a {
  color: #9A2617;
}

.fas.fa-bars {
  color: white;
}
.navbar .nav-link.active {
  background: #9A2617;
  color: white;
}
.navbar .nav-link:hover {
  background: #008888;
  color: white;
}
.fullBrand {
  font-family: "Allerta Stencil";
  font-size: 28px;
  color: #00cccc;
}
.fullBrand .Sbrand{
  padding: 0;
  margin: 0;
  font-family: "Oregano";
  font-size: 38px;
  color: #de3721;
}

.page-header {
  text-align: center;
  text-decoration: underline;
  font-family: "Bitter";
  color: white;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background-color: black;
  left: 50%;
  margin-left: -1.5px;
}

.timeline li {
  margin-bottom: 20px;
  position: relative;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

.timeline li:after {
  clear: both;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

.timeline li:after {
  clear: both;
}

.timeline li .timeline-panel {
  margin: 0 1% 0 1%;
  width: 44%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";

}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline li .timeline-badge {
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 28px;
  font-size: 21.5px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -28px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.light {
  background-color: #449ccd !important;
}

.timeline-badge.beige {
  background-color: #fae596 !important;
}

.timeline-badge.purple {
  background-color: #8a34be !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-panel {
  color: black;
}


.timeline-panel a {
  margin: 3% 0;
}

.timeline-panel.card:hover {
  box-shadow: 2px 2px 20px black;
  transition: 0.5s ease;
}

.timeline-title:hover{
  cursor: pointer;
  text-decoration: underline black;
}


.timeline-title {
  margin-top: 0;
}

.timeline-body  {
  display: none;
}

.timeline-body p, .timeline-body ul {
  margin-bottom: 0;
  color: black;
}

.timeline-body p+p {
  margin-top: 5px;
}

.timeline-body img {
  max-width: 100%;
  height: 25%;
  width: 30%;
  float: left;
  padding: 1%;
  margin: 0;
}

.open-caret {
    transform: rotate(180deg);
    transition: all .25s ease-out;
  }

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }
  ul.timeline li .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }
  ul.timeline li .timeline-panel {
    float: right;
  }
  ul.timeline li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.timeline li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }

  .timeline-body img {
    max-width: 100%;
    height: 20%;
    width: 40%;
    float: left;
    padding: 1%;
  }
}

footer {
  font-family: 'Handlee', cursive;
  font-size: 20px;
  background: #212121;
  color: white;
}
