/* ........body.......... */
body {
  font-family: 'Handlee', cursive;
  background-image: linear-gradient(#8FB9A8, #FEFAD4, #FCD0BA, #F1828D, #765D69);
  text-align: center;
  font-size: 30px;
}
/* .........img......... */
img {
  width: 400px;
  height: 400px;
}
/*..........grid....... */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
/*..........heading............*/
h1, h3 {
  padding: 20px;
  text-align: center;
}
/*..........flipCard..............*/
.card {
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  font-family: 'Handlee', cursive;
}

.card:hover{
  transform: rotateY(180deg);
}

.front {
  background-color: #1B1B1B;
  color: #9A2617;
  backface-visibility: hidden;
  font-family: 'Handlee', cursive;
}

.back {
  position: absolute;
  background-color: #1B1B1B;
  color: #9A2617;
  backface-visibility: hidden;
  font-family: 'Handlee', cursive;
  text-align: center;
  transform: rotateY(180deg);
}
