#nav1{
  width: 100%;
  height: 40px;
  background-color: #2C4251;
  font-family: 'Gugi', cursive;
  font-size: 18px;
  position: fixed;

}
#nav1 a{
  display: block;
  float: left;
  color: white;
  padding: 10px 20px 3px 20px;
  text-decoration: none;
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#nav1 a:hover{
  background-color: #85929e;
  text-decoration: none;
  color: white;

}
#rightnav{
  margin-left: 85%;
}
#logo{

  font-family: 'Shojumaru', cursive;
  font-size: 20px;
  padding: 5px 20px 5px 20px;


}
