.about{
    text-align: center;
    font-size: 23px;
    margin-top: 4em;
    background-image: url("https://img00.deviantart.net/92e7/i/2012/322/c/2/wolf_surrealism_by_bruhhm-d5lcyrw.png");
    background-size: cover;

}
.about h1{
    font-family:'Cookie', cursive;
    font-size: 32px;
    color: aliceblue;

}
.about h2{
    font-family: 'Rye', cursive;
    font-size: 21px;
    color: aliceblue;
}

#about{
    font-family: 'Cabin Sketch', cursive;
    font-size: 42px;
    color: aliceblue;
}

#story{
    font-family: 'El Messiri', sans-serif;
    color: aliceblue;
}
.form{
    background-image: url("")
}

#hesitate{
    font-family: 'Tangerine', cursive;
    font-size: 32px;
    color: aliceblue;
}
#Name{
    font-size: 21px;
    font-family: "Fredericka the Great", cursive;

}