.about{
    text-align: center;
    font-size: 23px;
    margin-top: 4em;

}
.about h1{
    font-family:'Cookie', cursive;
    font-size: 32px;
}

#about{
    font-family: 'Cabin Sketch', cursive;
    font-size: 42px;
}

#story{
    font-family: 'El Messiri', sans-serif;

}

#hesitate{
    font-family: 'Tangerine', cursive;
    font-size: 32px;
}
